@model Task3.ViewModels.MessageCreateViewModel

<h1>Writing message in @Model.Topic.Name</h1>

<form asp-action="Create" asp-controller="Messages" method="POST" enctype="multipart/form-data">
    <input type="hidden" asp-for="TopicId" />

    <div class="form-group">
        <label asp-for="Text"></label>
        <input asp-for="Text" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="Text"></span>
    </div>

    <div class="form-group">
        <label asp-for="Attachments"></label>
        <input asp-for="Attachments" type="file" multiple="multiple" class="form-control-file" />
        <span class="text-danger" asp-validation-for="Attachments"></span>
    </div>

    <div class="flex-lg-row">
        <a asp-controller="Messages" asp-action="Index" asp-route-id="@Model.TopicId" class="btn btn-secondary">< Back</a>
        <button class="btn btn-success" type="submit">Post Message</button>
    </div>
</form>