@model Task3.ViewModels.MessageEditViewModel

<h1>Editing message</h1>

<form asp-action="Edit" asp-controller="Messages" method="POST">
    <input type="hidden" asp-for="TopicId" />

    <div class="form-group">
        <label asp-for="Text"></label>
        <input asp-for="Text" type="text" class="form-control" />
        <span class="text-danger" asp-validation-for="Text"></span>
    </div>

    <div class="flex-lg-row">
        <a asp-controller="Messages" asp-action="Index" asp-route-id="@Model.TopicId" class="btn btn-secondary">< Back</a>
        <button class="btn btn-primary" type="submit">Edit Message</button>
    </div>
</form>